.additional-advantages-list__title {
  text-align: start;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  color: #000000;
}

.additional-advantages-list__description {
  text-align: start;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
}
