@import "common/variables.scss";

.advantages-list__item-wrapper {
  padding: 54px 18px 40px 18px;

  &--second {
    padding: 37px 18px;
  }
}

.advantages-list__item {
  display: flex;
  flex-direction: column;
  background-color: $main-color;

  &--extended {
    background-color: #eeeeee;
    padding: 24px 18px 24px 18px;
  }
}

.advantages-list__title {
  margin: 0;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  color: #ffffff;
}

.advantages-list__numeration {
  position: relative;
  display: block;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-transform: uppercase;
  color: #ffffff;

  &::before {
    content: "";
    position: absolute;
    width: 8px;
    height: 1px;
    top: 10px;
    left: 119px;
    background-color: #ffffff;
  }

  &::after {
    content: "";
    position: absolute;
    width: 8px;
    height: 1px;
    top: 10px;
    right: 119px;
    background-color: #ffffff;
  }
}

.advantages-list__description {
  margin: 0;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-transform: uppercase;
  color: #ffffff;
}

.advantages-list__item--extended .advantages-list__title {
  color: $secondary-color;
}

.advantages-list__item--extended .advantages-list__numeration,
.advantages-list__item--extended .advantages-list__description {
  color: $additional-color;
}

.advantages-list__item--extended .advantages-list__numeration::before,
.advantages-list__item--extended .advantages-list__numeration::after {
  background-color: $additional-color;
}
