@import "common/variables.scss";

.checkbox-list__text {
  display: inline-block;
  padding: 10px 31px 10px 62px;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  color: $secondary-color;
}
