.copyright {
  @include flex(row, normal, center);
  position: relative;
  margin: 0 auto;
  max-width: 129px;
  min-height: 35px;

  @media (min-width: $tablet-width) {
    min-width: 129px;
    align-self: center;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 28px;
    height: 35px;
    mask-image: url("../img/stack.svg#icon-html-academy");
    background-color: $additional-color;
    background-repeat: no-repeat;
  }

  &:hover {
    color: $main-color;

    &::after {
      background-color: $main-color;
    }
  }

  &:active {
    color: #b3b3b3;

    &::after {
      background-color: #b3b3b3;
    }
  }
}

.copyright__link {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-transform: uppercase;
  color: $secondary-color;
  text-decoration: none;
}
