.describe-emotions-field {
  width: 100%;
  margin: 0 0 56px 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  color: $secondary-color;

  @media (min-width: $tablet-width) {
    margin: 0 0 48px 0;
  }
}
