.describe-emotions-field {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  color: #000000;
}

.describe-emotions-field::placeholder {
  font-family: "PT Sans", "Arial", sans-serif;
  color: rgba(0, 0, 0, 0.3);
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
}
