// Временный комментарий
.hero {
  background-color: rgba(131, 179, 211, 0.5);
  background-image: url("../img/hero-brackground.jpg");
  background-repeat: no-repeat;
  background-position: center;
  padding: 90px 19px 85px 19px;
}
