.modal {
  position: relative;
  background-color: #ffffff;
  box-shadow: 0 10px 0 rgba(0, 0, 0, 0.1);
  cursor: default;
}

.modal__title {
  margin: 0 0 24px 0;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  color: #000000;
}

.modal__text {
  margin: 0 0 28px 0;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;

  &--success {
    max-width: 244px;
    margin: 0 auto 50px auto;
  }
}

.modal__close-button {
  margin: 0 auto;
  display: block;
  padding: 18px 64px 16px 64px;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  color: #ffffff;
}
