@import "common/variables.scss";

.radio-list__text {
  display: inline-block;
  padding: 10px 31px 10px 62px;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  color: $secondary-color;
}

.radio-list__control {
  position: relative;
  display: flex;
  cursor: pointer;
}

.radio-list__field + .radio-list__control-outline::before {
  content: "";
  position: absolute;
  width: 46px;
  height: 46px;
  top: 0;
  left: 0;
  background-color: #f2f2f2;
  border-radius: 50%;
}

.radio-list__field:checked + .radio-list__control-outline::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: 15px;
  left: 15px;
  border-radius: 50%;
  background-color: $additional-color;
}

.radio-list__field:hover + .radio-list__control-outline::before {
  background-color: #e5e5e5;
}

.radio-list__field:active + .radio-list__control-outline::before {
  background-color: #d5d5d5;
}

.radio-list__field:active + .radio-list__control-outline::after {
  opacity: 0.3;
}

.radio-list__field:disabled ~ .radio-list__text,
.radio-list__field:disabled ~ .radio-list__control-outline {
  opacity: 0.2;
}

.radio-list__field:focus-visible + .radio-list__control-outline {
  outline: 2px solid #000000;
  outline-offset: 2px;
}
