.search-hotels {
  padding: 38px 18px 32px 18px;

  @media (min-width: $tablet-width) {
    padding: 60px 155px 55px 165px;
  }
}

.search-hotels__title {
  margin: 0 0 24px 0;
  text-align: center;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  color: $secondary-color;

  @media (min-width: $tablet-width) {
    font-size: 30px;
  }
}

.search-hotels__text {
  margin: 0 0 32px 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-transform: uppercase;
  color: $additional-color;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin: 0 auto 44px auto;
    max-width: 435px;
  }
}

.search-hotels__button {
  display: block;
  padding: 16px 49px;
  text-align: center;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    max-width: 458px;
    margin: 0 auto;
  }
}
