.site-list__item:nth-child(3) {
  grid-column: 4;
}

.site-list__link {
  display: block;
  padding: 17px 81px 12px 81px;
  text-align: center;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 21px;
    padding: 17px 0 12px 0;
    color: #000000;
  }

  &--current {
    color: #766357;
  }
}
