.site-list__item {
  @media (max-width: 767px) {
    &:not(:last-child) {
      border-bottom: 1px solid #678fa8;
    }

    &:not(:first-child) {
      border-top: 1px solid #9ac2db;
    }

    &:last-child {
      background: linear-gradient(180deg, transparent 48px, rgba(0, 0, 0, 0.2) 100%);
    }
  }
}

.site-list__item:nth-child(2) {
  .site-list__link {
    @media (min-width: $tablet-width) {
      padding: 18px 0 17px 21px;
    }

    @media (min-width: $desktop-width) {
      padding: 18px 0 17px 0;
    }
  }
}

.site-list__item:nth-child(3) {
  grid-column: 4;

  .site-list__link {
    @media (min-width: $tablet-width) {
      padding: 18px 21px 17px 0;
    }

    @media (min-width: $desktop-width) {
      padding: 18px 0 17px 0;
    }
  }
}

.site-list__link {
  display: block;
  padding: 17px 81px 12px 81px;
  text-align: center;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 21px;
    padding: 18px 0 17px 0;
    color: #000000;
  }

  &--current {
    color: #766357;
  }

  @media (max-width: 767px) {
    &:hover {
      background-color: #669ec0;
      box-shadow: 0 1px 0 0 rgba(1, 1, 1, 0.2), 0 1px 0 0 rgba(255, 255, 255, 0.2) inset;
    }

    &:active {
      background-color: #5496bd;
      box-shadow: 0 1px 0 0 rgba(1, 1, 1, 0.2), 0 1px 0 0 rgba(255, 255, 255, 0.2) inset;
    }
  }

  @media (min-width: $tablet-width) {
    &:hover {
      color: $main-color;
    }

    &:active {
      color: $secondary-color;
      opacity: 0.3;
    }
  }
}
