.site-list__link {
  display: block;
  padding: 17px 81px 12px 81px;
  text-align: center;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
}
