.video-presentation {
  @include flex(column);
  padding: 17px 20px 0 20px;

  @media (min-width: $tablet-width) {
    padding: 58px 60px 40px 60px;
  }

  @media (min-width: $desktop-width) {
    padding: 58px 0 40px 0;
  }
}

.video-presentation__heading {
  padding: 0 20px 38px 20px;

  @media (min-width: $tablet-width) {
    padding: 0 161px 66px 161px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 378px 64px 378px;
  }
}

.video-presentation__title {
  margin: 0 0 28px 0;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  color: $secondary-color;

  @media (min-width: $tablet-width) {
    font-size: 30px;
  }
}

.video-presentation__text {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: $additional-color;
}

.video-presentation__link {
  position: relative;
  align-self: center;

  &::before {
    content: "";
    position: absolute;
    width: 48px;
    height: 54px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    mask-image: url("../img/stack.svg#icon-play");
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-position: center;
  }

  &:hover {
    &::before {
      width: 96px;
      height: 108px;
      transition: 0.3s linear;
    }
  }

  &:active {
    &::before {
      background-color: $main-color;
      width: 80px;
      height: 88px;
      opacity: 0.8;
    }
  }
}

.video-presentation__img {
  display: block;
}
